.ResultsListPage {
    .progress {
        width: 100%;
        padding-top: 40px;
        padding-bottom: 40px;

        & > * {
            display: block;
            width: 60px;
            height: 60px;

            margin-right: auto;
            margin-left: auto;
        }
    }

    .rightIcon {
        top: 6px;
        width: 40px;
        height: 40px;
    }

    .change-personalisation {
        color: $white;
        font-weight: 400;
    }

    .List {
        padding: 0;
    }

    .TransitionalZone{
        width: 100%;
        height: 45px;
        .ViewOnMapButton {
            background-color: $brand-bg-light;
            color: $brand-text-mid;
            display: inline-block;
            width:75%;
            height: 100%;

            .primaryText {
                font-size: 18px;
                line-height: 18px;
            }

            .MapIcon {
                width: 40px;
                height: 40px;
                margin-top: -9px;
                margin-left: -2px;
            }

            .rightIcon {
                top: 6px;
            }

            & > div {
                padding-left: 58px;
            }
        }

        .dropdown{
            background-color: $brand-bg-light;
            display: inline-block;
            width: 25%;
            height: 100%;
            vertical-align:top;
            position: relative;
            float: right;
            .sort-bar{
                width: 100%;
                padding-top: 3%;

              .sort-text {
                color: rgb(60, 60, 60);
                position: absolute;
                margin-top: 3.3%;
                margin-left: 3.3%;
              }
              @media screen and (min-width: 801px) {
                .sort-text {
                  font-size: 18px;
                }
              }

              @media screen and (max-width: 800px) {
                .sort-text {
                  font-size: 20px;
                }
              }

                .dp-icon{
                  position: relative;
                  left:70px;
                  top: 6px;
                }
            }

            .dp-content{
                font-size: 15px;
                width: 100%;
                background-color: $brand-bg-light;
                color: $link-text-color;
                z-index:999;
                display: none;
                position: relative;
                top: 10px;

              .sort-relevance{
                border: none;
                background-color: $brand-bg-light;
                position: relative;
                bottom: 5px;
                outline: none;
              }
              .sort-claps{
                border: none;
                background-color: $brand-bg-light;
                position: relative;
                bottom: 5px;
                outline: none;
              }
            }
        }
    }


    .MoreResultsButton {
        border-right: 10px solid $brand-bg-light;
        border-bottom: 10px solid $brand-bg-light;
        border-left: 10px solid $brand-bg-light;
        font-size: 14px;
        text-align: center;
    }

    .CrisisHeader {
        margin-right: 16px;
        margin-bottom: 5px;
        margin-left: 16px;

        font-size: 18px;
        font-weight: 500;
    }

}

.homeLink {
    margin-right: 20px;
}

