.FeedbackPane{
    margin-top: -3px;
}


.ButtonPane{
    padding-top: 15%;
    padding-left: 4%;
    padding-right: 4%;

}

.Separator{
    height: 24px;
}

.FeedbackButton{
    width: 100%;
}

.OverallStar{
    width: 100%;
    text-align: center;
    padding-top: 10px;
    font-size: 32px;
}

.RatingStar{
    width: 100%;
    text-align: center;
    padding-top: 10px;
    font-size: 32px;
}

.InputTextArea{
    height: 164px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
