
.RatingListItem {
    color: red;
    background-color: yellow;

    .RatingIcon{
        flex: 1;
        width: 15%;
        background-color: #3ed1d3;
    }

    .RatingText{
        flex: 1;
        width: 15%;
        background-color: green;
    }
}
